<h1><%=t :listing_books %></h1>

<table>
  <thead>
    <tr>
      <th><%=t :book_title %></th>
      <th><%=t :book_desc %></th>
      <th><%=t :book_image %></th>
      <th><%=t :book_isbn%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shelf.books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.description %></td>
        <td><%= image_tag book.image_url %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to 'Show', [@shelf, book] %></td>
        <td><%= link_to 'Edit', edit_shelf_book_path(@shelf, book) %></td>
        <td><%= link_to 'Destroy', [@shelf,book], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_shelf_book_path(@shelf) %>
