<!DOCTYPE html>
<html>
<head>
  <title><%=t :azbakeya_admin %></title>
  <%= stylesheet_link_tag    "application", "admin/layout-admin", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "shelf", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Azbakeya Admin HEADER</h1>
<%= yield %>

</body>
</html>
