<!DOCTYPE html>
<html>
<head>
  <title><%=t :azbakeya_shelves %></title>
  <%= stylesheet_link_tag    "application", "shelves", "scaffolds", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "shelf", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
